<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid black 1px;
    align-items: center;
}

.navbar__s1__title {
    /* color: #a435f0; */
    width: 100px;
    height: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar__s2 input:hover {
    cursor: pointer;
}

.navbar__s2 input {
    border: none;
    font-size: 16px;
    width: 80%;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s3 p,
i:hover {
    cursor: pointer;
}

.categories {
    display: flex;
    padding: 10px;
    border: solid black 1px;
    justify-content: space-around;
}

.categories p {
    background-color: #a435f0;
    color: white;
    padding: 10px;
    border-radius: 30px;
}

.categories p:hover {
    cursor: pointer;
}

.sale-image img {
    width: 100%;
}

.recommended {
    padding: 10px;
}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.course-card {
    width: 250px;
    padding: 10px;
    margin: 5px;
    border: solid gray 1px;
    border-radius: 10px;
    height: 230px;
}

.course-card:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.course-card img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.topic {
    padding: 10px;
}

.topic__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.topic__container p {
    border: solid gray 2px;
    border-radius: 10px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    cursor: pointer;
}

.topic__container p:hover {
    background-color: #f0f0f0;
}

.popular {
    padding: 10px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer {
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one {
    display: flex;
    gap: 10px;
}

.footer__one p {
    margin: 20px;
}

.footer__one__s1 {
    margin-right: 100px;
}

.footer__two {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
=======
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid black 1px;
    align-items: center;
}

.navbar__s1__title {
    /* color: #a435f0; */
    width: 100px;
    height: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar__s2 input:hover {
    cursor: pointer;
}

.navbar__s2 input {
    border: none;
    font-size: 16px;
    width: 80%;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s3 p,
i:hover {
    cursor: pointer;
}

.categories {
    display: flex;
    padding: 10px;
    border: solid black 1px;
    justify-content: space-around;
}

.categories p {
    background-color: #a435f0;
    color: white;
    padding: 10px;
    border-radius: 30px;
}

.categories p:hover {
    cursor: pointer;
}

.sale-image img {
    width: 100%;
}

.recommended {
    padding: 10px;
}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.course-card {
    width: 250px;
    padding: 10px;
    margin: 5px;
    border: solid gray 1px;
    border-radius: 10px;
    height: 230px;
}

.course-card:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.course-card img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.topic {
    padding: 10px;
}

.topic__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.topic__container p {
    border: solid gray 2px;
    border-radius: 10px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    cursor: pointer;
}

.topic__container p:hover {
    background-color: #f0f0f0;
}

.popular {
    padding: 10px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer {
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one {
    display: flex;
    gap: 10px;
}

.footer__one p {
    margin: 20px;
}

.footer__one__s1 {
    margin-right: 100px;
}

.footer__two {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
>>>>>>> bee947c077b727d1fc9f2491d53b9bca78822faf
}